:root {
  --typo-font-base: 'Noto Sans JP', 'Helvetica Neue', arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', meiryo,
    sans-serif;
  --typo-font-en: 'Source Code Pro', monospace;
  --typo-size-base: 1rem;

  @media (width <= 375px) {
    --typo-size-base: min(4.2667vw, 1rem);
  }

  --typo-weight-regular: 400;
  --typo-weight-bold: 700;
  --typo-weight-black: 900;
}
