---
import Head from '@components/Head.astro';

import '../styles/_reset.scss';
import '../styles/_base.scss';
---

<html lang="ja">
  <Head />
  <body>
    <main class="main">
      <slot />
    </main>
    <style>
      .main {
        background: url('/assets/images/bg_noise.png');
        animation: noise 1s steps(10) infinite;
      }
      @keyframes noise {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 123px 456px;
        }
      }
    </style>
  </body>
</html>
